body {
  background: green;
}
.card {
  text-align: center;
  background: white;
  margin: auto;
  height: 280px;
  width: 300px;
  padding: 20px;
  padding-top: 200px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 90px;
  position: relative;
  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 75px;
  }
  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 75px;
  }
  &.spade:before,
  &.spade:after {
    content: "\2660";
  }
  &.club:before,
  &.club:after {
    content: "\2663";
  }
  &.heart:before,
  &.heart:after {
    content: "\2665";
    color: red;
  }
  &.diamond:before,
  &.diamond:after {
    content: "\2666";
    color: red;
  }
}
